In [1]:
#MOD 6.5.2

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lebu,CL,2022-01-26 13:46:22,-37.6167,-73.6500,64.83,72,24,6.62
1,1,Yellowknife,CA,2022-01-26 13:44:52,62.4560,-114.3525,8.42,84,100,10.36
2,2,Adrar,MR,2022-01-26 13:46:22,20.5022,-10.0711,80.35,10,65,7.96
3,3,New Norfolk,AU,2022-01-26 13:46:23,-42.7826,147.0587,62.71,70,64,1.01
4,4,Portland,US,2022-01-26 13:45:37,45.5234,-122.6762,37.47,88,100,7.00

In [4]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
#See replaced code in cell below, this block is required, to set max temp to zero if negative, GMAPs
#won't plot negative max temps

max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.

#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#Above, using list comprehension
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Create Humidity Map
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Create Cloudiness Map
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#Create Wind Speed Map
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#MOD 6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 150

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lebu,CL,2022-01-26 13:46:22,-37.6167,-73.6500,64.83,72,24,6.62
2,2,Adrar,MR,2022-01-26 13:46:22,20.5022,-10.0711,80.35,10,65,7.96
3,3,New Norfolk,AU,2022-01-26 13:46:23,-42.7826,147.0587,62.71,70,64,1.01
4,4,Portland,US,2022-01-26 13:45:37,45.5234,-122.6762,37.47,88,100,7.00
7,7,Hermanus,ZA,2022-01-26 13:46:24,-34.4187,19.2345,69.49,82,97,17.22
8,8,East London,ZA,2022-01-26 13:46:24,-33.0153,27.9116,79.74,78,40,16.11
9,9,San Andres,CO,2022-01-26 13:46:24,12.5847,-81.7006,80.62,65,40,9.22
10,10,Ngunguru,NZ,2022-01-26 13:46:25,-35.6167,174.5000,69.17,90,100,5.55
12,12,Ushuaia,AR,2022-01-26 13:45:34,-54.8000,-68.3000,49.66,53,40,4.61
14,14,Rikitea,PF,2022-01-26 13:46:26,-23.1203,-134.9692,77.94,78,3,17.96

In [16]:
#Check for null values (multiple ways)

preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [17]:
preferred_cities_df.count()

City_ID       461
City          461
Country       458
Date          461
Lat           461
Lng           461
Max Temp      461
Humidity      461
Cloudiness    461
Wind Speed    461
dtype: int64

In [18]:
#Drop Null Value Rows
preferred_cities_df = preferred_cities_df.dropna()

In [19]:
preferred_cities_df.count()
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [20]:
#MOD 6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0          Lebu      CL     64.83 -37.6167  -73.6500
2         Adrar      MR     80.35  20.5022  -10.0711
3   New Norfolk      AU     62.71 -42.7826  147.0587
4      Portland      US     37.47  45.5234 -122.6762
7      Hermanus      ZA     69.49 -34.4187   19.2345
8   East London      ZA     79.74 -33.0153   27.9116
9    San Andres      CO     80.62  12.5847  -81.7006
10     Ngunguru      NZ     69.17 -35.6167  174.5000
12      Ushuaia      AR     49.66 -54.8000  -68.3000
14      Rikitea      PF     77.94 -23.1203 -134.9692

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lebu,CL,64.83,-37.6167,-73.6500,Hostal Las Lilas
2,Adrar,MR,80.35,20.5022,-10.0711,
3,New Norfolk,AU,62.71,-42.7826,147.0587,The Shingles Riverside Cottages
4,Portland,US,37.47,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
7,Hermanus,ZA,69.49,-34.4187,19.2345,Misty Waves Boutique Hotel

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
#Add popup box with details.

In [27]:
#This is HTML data
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row, using list comprehension, iteterate through each row of dataframe
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))